:host {
    
    .wrapper {
        
        .components {
            
            display: flex;
            
            .component {
                
                margin: 20px;
                border: 2px dashed #666;
                padding: 20px;
                
            }
            
        }
        
    }
    
}
